.password-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-container input {
    flex: 1;
    padding-right: 40px; /* Space for the eye icon */
  }
  
  .eye-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #aaa;
  }
  
  /* .eye-icon:hover {
    color: #000;
  } */
  