.contact-form-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  margin-left: 80px;
  color: black;
}

.contact-form {
  flex: 1;
  margin-right: 20px;
  animation: fadeInLeft 0.5s ease-in-out;
}

.cform-group {
  margin-bottom: 30px;
}

.cform-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.cform-group input,
.cform-group textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
}

.contact-submit-button {
  background-color: #ff6600;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
  width: 150px;
  font-size: 18px;
  transition: background-color 0.3s;
}

.contact-submit-button:hover {
  background-color: #d64304;
}

.contact-info {
  flex: 1;
  animation: fadeInRight 0.5s ease-in-out;
}

.contact-info h2 {
  margin-bottom: 10px;
  margin: 10px 30px 20px 40px;
  font-size: 40px;
}

.contact-info p {
  margin-bottom: 20px;
  margin: 10px 30px 20px 40px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

/* .contact-info ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
} */

.contact-info ul li {
  margin-right: 20px;
  margin: 10px 30px 20px 40px;
}