.register-container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 80px;
  margin-left: 190px;
  margin-right: 80px;
  max-width: 1200px;
  height: 600px;
  background-color: white;
}

.image-section {
  flex: 1;
}

.register-image {
  width: 700px;
  height: 100%;
}

.form-section {
  flex: 1;
  padding: 40px;
  box-sizing: border-box;
  margin-top: -50px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

p {
  margin-bottom: 30px;
  font-size: 16px;
}

.form-group {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  gap: 20px; /* Space between the two columns */
}

.form-row .form-group {
  flex: 1;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.save-btn {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #c0392b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.save-btn:hover {
  background-color: #a93226;
}

.register-footer {
  margin-top: 20px;
}

.register-footer p {
  font-size: 14px;
}

.register-footer a {
  color: #3498db;
  text-decoration: none;
}

.register-footer a:hover {
  text-decoration: underline;
}
